In [32]:
# General:
import tweepy           # To consume Twitter's API
import pandas as pd     # To handle data
import numpy as np      # For number computing

# For plotting and visualization:
from IPython.display import display
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
def twitter_setup():
    """
    Utility function to setup the Twitter's API
    with our access keys provided.
    """
    consumer_key = '9djiBujIhjpIOrzw9LqtGuFh8'
    consumer_secret = 'gi798ZXa8YA7hH4dFw4zBGkKSGPd6qXmATcvQDGRnF5Qb6zSN7'
    access_token = '758556758633811968-v4mRTEokErBRKdcJG5Uu7JuMjIFfx7u'
    access_token_secret = 'k2oOoArJnuix017qJPz6ZkS6krAU6veL2kHU0i4Fv60pn'

    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_token_secret)
    api = tweepy.API(auth,wait_on_rate_limit=True)
    return api

In [34]:
# We create an extractor object:
extractor = twitter_setup()

# We create a tweet list as follows:
tweets = extractor.user_timeline(screen_name="narendramodi", count=200)
print("Number of tweets extracted: {}.\n".format(len(tweets)))

Number of tweets extracted: 200.

In [4]:
# We print the most recent 5 tweets:
print("5 recent tweets:\n")
for tweet in tweets[:5]:
    print(tweet.text)
    print()

5 recent tweets:

Had a wonderful meeting with Mr. Roberto Azevêdo, Director-General of the @wto. @WTODGAZEVEDO https://t.co/nhX2UaTkeO
()
On the auspicious occasion of Cheti Chand, my best wishes to the Sindhi community. May Lord Jhulelal always shower… https://t.co/mF28PxiBhK
()
Navreh Mubarak! As the new year begins, I pray that everyone’s lives are blessed with tremendous happiness, prosper… https://t.co/7fYarWu2G1
()
Happy Ugadi! I pray for a year filled with happiness and good health.
()
On Gudi Padwa, greetings to my sisters and brothers of Maharashtra. I hope the coming year marks the fulfilment of… https://t.co/NJDHNz2wpH
()

In [35]:
# We create a pandas dataframe as follows:
data = pd.DataFrame(data=[tweet.text for tweet in tweets], columns=['Tweets'])

# We display the first 10 elements of the dataframe:
display(data.head(10))

                                              Tweets
0  Had a wonderful meeting with Mr. Roberto Azevê...
1  On the auspicious occasion of Cheti Chand, my ...
2  Navreh Mubarak! As the new year begins, I pray...
3  Happy Ugadi! I pray for a year filled with hap...
4  On Gudi Padwa, greetings to my sisters and bro...
5  Sajibu Cheiraoba greetings to the people of Ma...
6  नव संवत्सर और नवरात्रि की सभी देशवासियों को हा...
7  Several people across the nation are celebrati...
8  Birthday wishes to my colleague Sadananda Gowd...
9  Here is my complete speech at the Rashtriya Ja...

In [36]:
# Internal methods of a single tweet object:
print(dir(tweets[0]))

['__class__', '__delattr__', '__dict__', '__doc__', '__eq__', '__format__', '__getattribute__', '__getstate__', '__hash__', '__init__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_api', '_json', 'author', 'contributors', 'coordinates', 'created_at', 'destroy', 'entities', 'extended_entities', 'favorite', 'favorite_count', 'favorited', 'geo', 'id', 'id_str', 'in_reply_to_screen_name', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'is_quote_status', 'lang', 'parse', 'parse_list', 'place', 'possibly_sensitive', 'retweet', 'retweet_count', 'retweeted', 'retweets', 'source', 'source_url', 'text', 'truncated', 'user']

In [7]:
# We print info from the first tweet:
print(tweets[0].id)
print(tweets[0].created_at)
print(tweets[0].source)
print(tweets[0].favorite_count)
print(tweets[0].retweet_count)
print(tweets[0].geo)
print(tweets[0].coordinates)
print(tweets[0].entities)

975741587912237056
2018-03-19 14:31:37
Twitter Web Client
3745
654
None
None
{u'symbols': [], u'user_mentions': [{u'id': 169963553, u'indices': [74, 78], u'id_str': u'169963553', u'screen_name': u'wto', u'name': u'WTO'}, {u'id': 1722541195, u'indices': [80, 93], u'id_str': u'1722541195', u'screen_name': u'WTODGAZEVEDO', u'name': u'Roberto Azev\xeado'}], u'hashtags': [], u'urls': [], u'media': [{u'expanded_url': u'https://twitter.com/narendramodi/status/975741587912237056/photo/1', u'display_url': u'pic.twitter.com/nhX2UaTkeO', u'url': u'https://t.co/nhX2UaTkeO', u'media_url_https': u'https://pbs.twimg.com/media/DYqHlLOX4AAew-0.jpg', u'id_str': u'975741342017118208', u'sizes': {u'small': {u'h': 453, u'resize': u'fit', u'w': 680}, u'large': {u'h': 1365, u'resize': u'fit', u'w': 2048}, u'medium': {u'h': 800, u'resize': u'fit', u'w': 1200}, u'thumb': {u'h': 150, u'resize': u'crop', u'w': 150}}, u'indices': [94, 117], u'type': u'photo', u'id': 975741342017118208L, u'media_url': u'http://pbs.twimg.com/media/DYqHlLOX4AAew-0.jpg'}]}

In [37]:
# We add relevant data:
data['len']  = np.array([len(tweet.text) for tweet in tweets])
data['ID']   = np.array([tweet.id for tweet in tweets])
data['Date'] = np.array([tweet.created_at for tweet in tweets])
data['Source'] = np.array([tweet.source for tweet in tweets])
data['Likes']  = np.array([tweet.favorite_count for tweet in tweets])
data['RTs']    = np.array([tweet.retweet_count for tweet in tweets])

In [38]:
# Display of first 10 elements from dataframe:
display(data.head(10))

,Tweets,len,ID,Date,Source,Likes,RTs
0,Had a wonderful meeting with Mr. Roberto Azevê...,117,975741587912237056,2018-03-19 14:31:37,Twitter Web Client,4398,753
1,"On the auspicious occasion of Cheti Chand, my ...",139,975542906936115201,2018-03-19 01:22:08,Twitter for iPhone,15661,2756
2,"Navreh Mubarak! As the new year begins, I pray...",140,975542446443540480,2018-03-19 01:20:18,Twitter for iPhone,24028,4287
3,Happy Ugadi! I pray for a year filled with hap...,69,975178012311412736,2018-03-18 01:12:10,Twitter for iPhone,23954,4265
4,"On Gudi Padwa, greetings to my sisters and bro...",139,975177816777154561,2018-03-18 01:11:24,Twitter for iPhone,13553,2842
5,Sajibu Cheiraoba greetings to the people of Ma...,120,975176821020004352,2018-03-18 01:07:26,Twitter for iPhone,7344,1650
6,नव संवत्सर और नवरात्रि की सभी देशवासियों को हा...,136,975175829968904192,2018-03-18 01:03:30,Twitter for iPhone,48102,10712
7,Several people across the nation are celebrati...,140,975175218711990273,2018-03-18 01:01:04,Twitter for iPhone,9903,2219
8,Birthday wishes to my colleague Sadananda Gowd...,140,975174778674966529,2018-03-18 00:59:19,Twitter for iPhone,5171,1057
9,Here is my complete speech at the Rashtriya Ja...,109,975032039253708800,2018-03-17 15:32:08,Twitter Web Client,8617,1830

In [39]:
# We extract the mean of lenghts:
mean = np.mean(data['len'])

In [40]:
mean

127.16

In [41]:
# We extract the tweet with more FAVs and more RTs:

fav_max = np.max(data['Likes'])
rt_max  = np.max(data['RTs'])

fav = data[data.Likes == fav_max].index[0]
rt  = data[data.RTs == rt_max].index[0]

# Max FAVs:
print("The tweet with more likes is:")
print((data['Tweets'][fav]))
print("Number of likes: {}".format(fav_max))
print("{} characters.\n".format(data['len'][fav]))

# Max RTs:
print("The tweet with more retweets is:")
print((data['Tweets'][rt]))
print("Number of retweets: {}".format(rt_max))
print("{} characters.\n".format(data['len'][rt]))

The tweet with more likes is:
Professor Stephen Hawking was an outstanding scientist and academic. His grit and tenacity inspired people all over… https://t.co/iAZ4vdIuVN
Number of likes: 53827
140 characters.

The tweet with more retweets is:
Professor Stephen Hawking was an outstanding scientist and academic. His grit and tenacity inspired people all over… https://t.co/iAZ4vdIuVN
Number of retweets: 10986
140 characters.

In [42]:
#Pandas has its own object for time series. Since we have a whole vector with creation dates, we can construct time series respect tweets lengths, likes and retweets.
# We create time series for data:
# We create time series for data:

tlen = pd.Series(data=data['len'].values, index=data['Date'])
tfav = pd.Series(data=data['Likes'].values, index=data['Date'])
tret = pd.Series(data=data['RTs'].values, index=data['Date'])

tlen.plot(figsize=(16,4), color='r');

In [43]:
plt.show()

In [44]:
# Likes vs retweets visualization:
tfav.plot(figsize=(16,4), label="Likes", legend=True)
tret.plot(figsize=(16,4), label="Retweets", legend=True);
plt.show()

In [45]:
#Pie charts of sources
#We're almost done with this second section of the post. Now we will plot the sources in a pie chart, since we realized that not every tweet is tweeted from the same source. We first clean all the sources:
# We obtain all possible sources:
sources = []
for source in data['Source']:
    if source not in sources:
        sources.append(source)

# We print sources list:
print("Creation of content sources:")
for source in sources:
    print("* {}".format(source))

Creation of content sources:
* Twitter Web Client
* Twitter for iPhone
* Media Studio

In [46]:
#We now count the number of each source and create a pie chart. 
# We create a numpy vector mapped to labels:
percent = np.zeros(len(sources))

for source in data['Source']:
    for index in range(len(sources)):
        if source == sources[index]:
            percent[index] += 1
            pass

percent /= 100

# Pie chart:
pie_chart = pd.Series(percent, index=sources, name='Sources')
pie_chart.plot.pie(fontsize=11, autopct='%.2f', figsize=(6, 6));

In [47]:
# Pie chart:
pie_chart = pd.Series(percent, index=sources, name='Sources')
pie_chart.plot.pie(fontsize=11, autopct='%.2f', figsize=(6, 6));
plt.show()

In [48]:
#Sentiment analysis
from textblob import TextBlob
import re

def clean_tweet(tweet):
    '''
    Utility function to clean the text in a tweet by removing 
    links and special characters using regex.
    '''
    return ' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)", " ", tweet).split())

In [49]:
#Textblob can work with different machine learning models used in natural language processing. 
def analize_sentiment(tweet):
    '''
    Utility function to classify the polarity of a tweet
    using textblob.
    '''
    analysis = TextBlob(clean_tweet(tweet))
    if analysis.sentiment.polarity > 0:
        return 1
    elif analysis.sentiment.polarity == 0:
        return 0
    else:
        return -1

In [50]:
# We create a column with the result of the analysis:
data['SA'] = np.array([ analize_sentiment(tweet) for tweet in data['Tweets'] ])

# We display the updated dataframe with the new column:
display(data.head(10))

,Tweets,len,ID,Date,Source,Likes,RTs,SA
0,Had a wonderful meeting with Mr. Roberto Azevê...,117,975741587912237056,2018-03-19 14:31:37,Twitter Web Client,4398,753,1
1,"On the auspicious occasion of Cheti Chand, my ...",139,975542906936115201,2018-03-19 01:22:08,Twitter for iPhone,15661,2756,1
2,"Navreh Mubarak! As the new year begins, I pray...",140,975542446443540480,2018-03-19 01:20:18,Twitter for iPhone,24028,4287,1
3,Happy Ugadi! I pray for a year filled with hap...,69,975178012311412736,2018-03-18 01:12:10,Twitter for iPhone,23954,4265,1
4,"On Gudi Padwa, greetings to my sisters and bro...",139,975177816777154561,2018-03-18 01:11:24,Twitter for iPhone,13553,2842,0
5,Sajibu Cheiraoba greetings to the people of Ma...,120,975176821020004352,2018-03-18 01:07:26,Twitter for iPhone,7344,1650,0
6,नव संवत्सर और नवरात्रि की सभी देशवासियों को हा...,136,975175829968904192,2018-03-18 01:03:30,Twitter for iPhone,48102,10712,0
7,Several people across the nation are celebrati...,140,975175218711990273,2018-03-18 01:01:04,Twitter for iPhone,9903,2219,1
8,Birthday wishes to my colleague Sadananda Gowd...,140,975174778674966529,2018-03-18 00:59:19,Twitter for iPhone,5171,1057,0
9,Here is my complete speech at the Rashtriya Ja...,109,975032039253708800,2018-03-17 15:32:08,Twitter Web Client,8617,1830,1

In [51]:
#Analyzing the results
#To have a simple way to verify the results, we will count the number of neutral, positive and negative tweets and extract the percentages.
# We construct lists with classified tweets:

pos_tweets = [ tweet for index, tweet in enumerate(data['Tweets']) if data['SA'][index] > 0]
neu_tweets = [ tweet for index, tweet in enumerate(data['Tweets']) if data['SA'][index] == 0]
neg_tweets = [ tweet for index, tweet in enumerate(data['Tweets']) if data['SA'][index] < 0]

In [52]:
# We print percentages:

print("Percentage of positive tweets: {}%".format(len(pos_tweets)*100/len(data['Tweets'])))
print("Percentage of neutral tweets: {}%".format(len(neu_tweets)*100/len(data['Tweets'])))
print("Percentage de negative tweets: {}%".format(len(neg_tweets)*100/len(data['Tweets'])))

Percentage of positive tweets: 41%
Percentage of neutral tweets: 53%
Percentage de negative tweets: 5%